# # Python
# .venv/
# __pycache__/
# *.pyc

# # Environment
# .env

# # IDE
# .vscode/

# # OS
# .DS_Store
# Thumbs.db

# # Uploaded resumes
# uploads/resumes/

# # Python virtual environment
# .venv/

# # Python cache
# __pycache__/
# *.pyc

# # Environment variables
# .env

# *.zip


# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
backend/.venv/
frontend/.venv/

# Environment Variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploaded Files
backend/uploads/resumes/

# Build Files
dist/
build/

# Logs
*.log

# Archives
*.zip